* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

@font-face {
    font-family: "Teko Bold";
    src: url("../resources/fonts/teko-font/Teko-Bold.ttf");
}
@font-face {
    font-family: "Teko Regular";
    src: url("../resources/fonts/teko-font/Teko-Regular.ttf");
}
@font-face {
    font-family: "Teko SemiBold";
    src: url("../resources/fonts/teko-font/Teko-SemiBold.ttf");
}

@font-face {
    font-family: "Teko Light";
    src: url("../resources/fonts/teko-font/Teko-Light.ttf");
}

.nav-content__hamburger {
    position: absolute;
    left: -3vh;
    top: -1.6vh;
    cursor: pointer;
    height: 8vh;
    width: 8vh;
}
 
.nav-content__hamburger__bar {
    display: block;
    width: 100%;
    height: 15%;
    margin: 25% 0%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}



.in-text-reference {
    font-family: "Teko SemiBold";
    color: rgb(0, 0, 255);
    text-decoration: none;
    font-size: 100%;
}

@media screen and (max-width: 1023px) {

    .nav-content {
        background-color: #25272f;
        display: flex;
        z-index: 777;
        position: sticky;
        height: 10vh;
        align-items: center;
        justify-content: center;
    }

    .nav-content__logo-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin: 0;
    }

    .nav-content__logo-link__image {
        height: 100%;
        padding: 5% 0rem;
    }

    /* HAMBURGER MOMENT */
    .nav-content__hamburger {
        display: block;
        z-index: 880;
        margin-right: auto;
        margin-left: 10%;
    }
  
    .nav-content__hamburger.active .nav-content__hamburger__bar:nth-child(2) {
        opacity: 0;
    }

    .nav-content__hamburger.active .nav-content__hamburger__bar:nth-child(1) {
        transform: translateY(1.6vw) rotate(45deg);
    }

    .nav-content__hamburger.active .nav-content__hamburger__bar:nth-child(3) {
        transform: translateY(-1.6vw) rotate(-45deg);
    }

    .nav-content__unordered-list {
        position: fixed;
        right: 200%;
        top: 0;
        flex-direction: column;
        padding-top: 2rem;
        justify-content: space-around;
        align-items: center;
        background-color: #25272f;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        z-index: 2;
        list-style-type: none;
    }
  
    .nav-content__unordered-list__item {
        margin: 1vh 0;
        z-index: 3;
    }
  
    .nav-content__unordered-list.active {
        display: flex;
        right: 0;
    }

    html.active, body.active { 
        height: 100%;
        overflow: hidden;
    }


    #vidsection {
        display: none;
    }
    #huts {
        display: none;
    }

    h1 {
        align-items: center;
        font-size: 5rem;
        font-family: "Teko Bold", sans-serif;
    }
    a {
        color: aliceblue;
        font-family: "Teko Bold", sans-serif;
        font-weight: 900;
        font-size: 14rem;
        text-decoration: none;
    }
    #mobile-nav-links {
        height: 90vh;
        background-color: #3b425c;
        display: flex;
        justify-content: center;
    }
    #mobile-nav-links ul {
        height: 80%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
    }

    #mobile-nav-links ul a {
        font-size: clamp(2rem, 10rem, 20rem);
    }

    .plot-scrn {
        background-color:rgb(23, 21, 27);
        color: white;
    }

    .plot-scrn__content {
        height: fit-content;
        font-family: "Teko Light";
        font-size: 3rem;
        padding-left: 1%;
        padding-right: 1%;
    }
    
    .plot-scrn__content__header1 {
        align-items: center;
        text-align: center;
        font-size: 4rem;
        font-family: "Teko Bold", sans-serif;
    }

    .plot-scrn__content__introduction-div {
        /* display: grid;
        grid-template-columns: 1fr 1fr; */
        align-items: center;
        font-size: 3rem;
        font-family: "Teko Regular", sans-serif;
        background-color:#25272f;
    }
    
    .plot-scrn__content__introduction-div__img {
        width: 100%;
        height: auto;
    }
    .plot-scrn__content__additionaltext {
        font-size: 4rem;
        font-family: "Teko Regular", sans-serif;
    }
    .plot-scrn__content__unordered-list__item {
        font-size: 4rem;
        font-family: "Teko Regular", sans-serif;
    }
    .plot-scrn__content__mission-div {
        background-color: #25272f;
        font-size: 3rem;
        width: 100%;
        padding: 1%;
    }

    .plot-scrn__content__mission-div__unordered-list {
        list-style-type: disc;
        padding-left: 5%;
    }

    .plot-scrn__content__mission-div__unordered-list__item {
        font-size: 2rem;
    }

    .index-content__plot-section {
        height: auto;
        background-color: #25272f;
        padding-bottom: 10vh;
    }
    .index-content__poster-div {
        height: auto;
        width: 90%;
    }
    .index-content__poster-div__img {
        content: url("/resources/poster-mobile.png");
        width: 100%;
        margin: 5%;     
    }
    .index-content__plot-information-div__text {
        height: auto;
        width: auto;
        margin: 5%
    }
    .index-content__plot-information-div__text p, h2 {
        color: white;
    }
    .index-content__plot-information-div__text h2 {
        font-size: 4rem;
    }
    .index-content__plot-information-div__text p, p a {
        font-size: 2rem;
    }
    .index-content__general-information-div__text {
        display: flex;
        width: auto;
        height: auto;
        margin-top: 3rem;
    }
    .index-content__general-information-div__text h2 {
        font-size: 3rem;
    }
    .index-content__general-information-div__text p {
        color: white;
        font-size: 2rem;
    }
    .index-content__general-information-box__text {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .index-content__cast-div {
        background-color:rgb(23, 21, 27);
        display: flexbox;
        width: 100%;
        height: auto;
        padding-top: 5vh;
    }
    .index-content__cast-div__header {
        font-size: 4rem;
        margin-left: 3rem;
    }
    .index-content__cast-div__members-div {
        width: auto;
        height: auto;
        text-align: center;
    }
    .index-content__cast-div__actor-div {
        width: 15vw;
        height: auto;
        text-align: center;
    }
    .index-content__cast-div__actor-div__img {
        margin-top: 5%;
        width: 20rem;
        border-radius: 50%;
    }
    .index-content__cast-dive__actor-div__text-head {
        margin: 0% 5%;
        font-family: "Times New Roman";
        font-weight: bold;
        font-size: 2.5rem;
        text-decoration: none;
    }
    .index-content__cast-dive__actor-div__text-p {
        margin: 0% 5%;
        font-family: "Times New Roman";
        font-weight: 200;
        font-size: 1.8rem;
        text-decoration: none;
        color: rgb(188, 183, 183);
    }
}

@media screen and (min-width: 1024px) {

    /* GENERAL */

    h1 {
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-family: "Teko Bold", sans-serif;
    }

    a {
        color: white;
        font-family: "Teko Bold", sans-serif;
        font-weight: 900;
        font-size: 5rem;
        text-decoration: none;
    }

    /* NAV */

    #mobile-nav-links {
        display: none;
    }

    .nav-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: #25272f;
        width: 100%;
    }

    .nav-content__unordered-list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        width: fit-content;
    }

    .nav-content__unordered-list__item {
        padding: 0rem 4rem;
        list-style-type: none;
    }

    .nav-content__menu-icon {
        display: none;
    }

    .nav-content__logo-link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5rem;
    }

    .nav-content__logo-link__image {
        width: 20rem;
    }

    .plot-scrn {
        width: 100%;
        height: max-content;
        background-color:rgb(23, 21, 27);
    }

    .plot-scrn__content {
        margin: auto;
        height: fit-content;
        width: 90vw;
        font-family: "Teko Light";
        font-size: 6rem;
        color: white;
        background-color: #25272f;
    }

    .plot-scrn__content__header1 {
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-family: "Teko Bold", sans-serif;
        background-color: rgb(23, 21, 27);
    }

    .plot-scrn__content__introduction-div {
        display: flex;
        font-size: 5rem;
        padding: 1%;
    }

    .plot-scrn__content__introduction-div__padded-text {
        padding-right: 1%;
    }

    .plot-scrn__content__introduction-div__img {
        width: 40rem;
    }

    .plot-scrn__content__mission-div {
        font-size: 5rem;
        width: 100%;
        padding: 1%;
    }

    .plot-scrn__content__mission-div__unordered-list {
        list-style-type: disc;
        padding-left: 2%;
    }

    .plot-scrn__content__mission-div__unordered-list__item {
        font-size: 3rem;
    }

    .plot-scrn__content__training-div {
        align-items: center;
        display: flex;
        font-size: 5rem;
        width: 100%;
        padding: 1%;
    }

    #vidsection {
        position: absolute;
        top: 0;
        left: 0;
    }

    #logo {
        width: 50vw;
        position: absolute;
        top: 15vw;
        left: 50vh;
        z-index: 50;
    }
    #video {
        width: 100vw;
        filter: brightness(40%);
        z-index: 0;
        display: none;
    }
    .index-content__plot-section {
        height: auto;
        display: flex;
        background-color: #25272f;
    }
    .index-content__poster-div {
        height: 40vh;
        width: 25%;
    }
    .index-content__poster-div__img {
        height: 80%;
        width: auto;
        margin-left: 15%;
        margin-top: 10%;        
    }
    .index-content__plot-information-div__text {
        height: auto;
        width: 50%;
        margin-top: 3rem;
        margin-right: 2rem;
    }
    .index-content__plot-information-div__text p, h2 {
        color: white;
    }
    .index-content__plot-information-div__text h2 {
        font-size: 4rem;
    }
    .index-content__plot-information-div__text p, p a {
        font-size: 2rem;
    }
    .index-content__general-information-div__text {
        display: flex;
        width: 25%;
        height: auto;
        margin-top: 3rem;
    }
    .index-content__general-information-div__text h2 {
        font-size: 3rem;
    }
    .index-content__general-information-div__text p {
        color: white;
        font-size: 2rem;
    }
    .index-content__general-information-box__text {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .index-content__cast-div {
        background-color:rgb(23, 21, 27);
        display: grid;
        width: 100%;
        height: auto;
        padding: 5% 10%;
    }
    .index-content__cast-div__header {
        font-size: 4rem;
        margin-left: 3rem;
    }
    .index-content__cast-div__members-div {
        display: flex;
        width: 90%;
        height: 30vh;
    }
    .index-content__cast-div__actor-div {
        width: 15vw;
        height: 100%;
        text-align: center;
    }
    .index-content__cast-div__actor-div__img {
        margin-top: 5%;
        height: 60%;
        border-radius: 50%;
    }
    .index-content__cast-dive__actor-div__text-head {
        margin: 0% 5%;
        font-family: "Times New Roman";
        font-weight: bold;
        font-size: 2.5rem;
        text-decoration: none;
    }
    .index-content__cast-dive__actor-div__text-p {
        margin: 0% 5%;
        font-family: "Times New Roman";
        font-weight: 200;
        font-size: 1.8rem;
        text-decoration: none;
        color: rgb(188, 183, 183);
    }
    .blankDiv {
        max-width: 100vw;
        height: 80vh;
        background-color:rgb(23, 21, 27);
    }

    #huts {
        min-height: 15vh;
        position: relative;
        background-color: rgb(23, 21, 27);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(199, 24, 24);
    }

    #huts a {
        color: rgb(199, 24, 24);
        
    }
    #huts {
        display: none;
    }
}