* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
	/* cursor: none; */
}

/* .cursor {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
	z-index: 10000;
	background-color: rebeccapurple;
}
.cursor img {
	z-index: 10000;
    width: 10rem;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes toRight {
	0% {
		top: 15vh;
		transform: translate(calc(-50% + 15px), -50%);
	}

	100% {
		top: 5vh;
		transform: translate(calc(110vw + 15px), -50%);
	}
} */

@font-face {
	font-family: "catamaran Bold";
	src: url("../resources/fonts/catamaran-font/catamaran-Bold.ttf");
}
@font-face {
	font-family: "catamaran Regular";
	src: url("../resources/fonts/catamaran-font/catamaran-Regular.ttf");
}
@font-face {
	font-family: "catamaran SemiBold";
	src: url("../resources/fonts/catamaran-font/catamaran-SemiBold.ttf");
}

@font-face {
	font-family: "catamaran Light";
	src: url("../resources/fonts/catamaran-font/catamaran-Light.ttf");
}

@font-face {
	font-family: "Topgun";
	src: url("../resources/fonts/topgun.ttf");
}

body {
	background-color: rgb(23, 21, 27);
}

.in-text-reference {
	font-family: "catamaran SemiBold";
	color: rgb(75, 75, 255);
	text-decoration: none;
	font-size: 100%;
}


/* NAVIGATION BAR */
.nav-content {
	display: flex;
	align-items: center;
	background-color: #25272f;
	width: 100%;
	position: sticky;
	justify-content: center;
	z-index: 777;
	top: 0;
	box-shadow: 0 10px 8px rgb(23, 21, 27);
}

.nav-content__hamburger {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 5rem;
	width: 5rem;
	display: block;
	left: -0.5vh;
	top: 1vh;
	z-index: 880;
	margin-right: auto;
	/* margin-top: 0vh; */
	margin-left: 3vh;
}

.nav-content__hamburger--bar {
	display: block;
	width: 50px;
	height: 6px;
	margin: 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(3) {
	transform: translateY(-16px) rotate(-45deg);
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(2) {
	opacity: 0;
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(1) {
	transform: translateY(16px) rotate(45deg);
}

.nav-content__logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: fit-content;
	margin: 2vh 0;
}

.nav-content__logo-link--image {
	height: 100%;
	padding: 1%;
}

.nav-content__unordered-list {
	position: fixed;
	right: 200%;
	top: 0;
	flex-direction: column;
	padding-top: 11vh;
	padding-left: 4vh;
	align-items: flex-start;
	background-color: #25272f;
	width: 100%;
	height: 100vh;
	transition: 0.3s;
	z-index: 2;
	list-style-type: none;
}

.nav-content__item {	
	margin: 0.5vh 0;
	z-index: 3;
}
.nav-content__item--ref {
	transition: color 0.3s ease-in-out;
}
.nav-content__item--ref:hover {
	color: slategray;
}

@media screen and (orientation: landscape) {
	.nav-content__unordered-list {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.nav-content__item {
		margin: 0 2vh;
	}
}

.nav-content__item--ref {
	color: aliceblue;
	font-family: "Topgun";
	letter-spacing: 4px;
	font-size: 9vh;
	height: auto;
	text-decoration: none;
}

.nav-content__unordered-list.active {
	display: flex;
	right: 0;
}

html.active,
body.active {
	height: 100%;
	overflow: hidden;
}

.content {
	display: flex;
	flex-direction: column;
	margin: auto;
	max-width: 150rem;
	height: fit-content;
	background-color: rgb(23, 21, 27);
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: white;
	font-size: 3rem;
}

.content__header {
	font-size: 6rem;
	font-family: "Topgun";
	margin: auto;
	letter-spacing: 0.6rem;
}

/* INDEX SCREEN */

.index-screen {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.section-header {
	font-size: 6rem;
	margin: 0 auto;
	margin-top: 2rem;
	margin-bottom: -2rem;
	overflow: hidden;
	font-family: "Topgun";
	letter-spacing: 8px;
}

.content__trailer-background {
	width: 100%;
	height: max-content;
	display: grid;
	grid-template-columns: 1fr;
}

.content__trailer-background--logo {
	z-index: 100;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	grid-row-start: 1;
	grid-column-start: 1;
}

.content__trailer-background--video {
	width: 100%;
	filter: brightness(40%);
	z-index: 0;
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: 1.8rem;
}

.plot-section {
	display: flex;
	flex-direction: column;
	background-color: #25272f;
	border-radius: 1.8rem;
	height: fit-content;
}

.plot-section__body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.plot-section__poster {
	float: left;
	padding: 1rem;
	width: 20rem;
	max-width: 100%;
	height: auto;
	border-radius: 1.8rem;
}

.plot-section__info {
	padding: 1rem;
	display: flex;
	max-width: 100%;
	font-size: 2rem;
}

.plot-section__text-block {
	margin: 0.5rem;
	width: 100%;
	font-size: inherit;
	text-decoration: none;
	color: white;
}

.plot-section__text-block--ref{
	transition: 0.3s;
	color: rgb(68, 76, 85);
	font-size: inherit;
	margin: 0.5rem;
	text-decoration: inherit;
}

.plot-section__text-block--ref:hover{
	transition: 0.3s;
	color: black;
}

.plot-section__summary {
	padding: 1rem;
	max-width: 100%;
}

.plot-section__summarized-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.summarized-item {
	background-color: rgb(70, 96, 121);
	border-radius: 1.8rem;
	font-size: 2rem;
	padding: 0.8rem;
	margin: 1rem;
}

.summarized-item__header {
	font-size: 4rem;
}

.summarized-item__body {
	font-family: inherit;
	font-size: inherit;
}

.cast-section {
	background-color: #25272f;
	border-radius: 1.8rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.cast-section__members {
	display: flex;
	flex-direction: row;
	border-radius: 1.8rem;;
	overflow-x: scroll;
	padding-bottom: 1rem;

	/* Firefox scrollbar */
	scrollbar-color: #3d3f47 #25272f;
}

/* Chrome, Edge, Safari */
.cast-section__members::-webkit-scrollbar {
	background: #1d1f26;
	height: 12px;
}

.cast-section__members::-webkit-scrollbar-thumb {
	background-color: #3d3f47;
	border-radius: 20px;
}

.actor-preview {
	display: flex;
	flex-direction: column;
	background-color: slategray;
	text-decoration: none;
	color: white;
	border-radius: 1.8rem;
	padding: 1rem;
	width: 25rem;
	transition: 0.3s;
	margin: 0 0.8rem;
}

.actor-preview:hover {
	filter:brightness(80%);
	transition:0.3s;
	padding: 2rem;
}

.actor-preview__image {
	border-radius: 50%;
}

.actor-preview__name-body {
	font-size: 4rem;
}

.actor-preview__role-name-body {
	font-size: 3rem;
}

.trivia-section {
	background-color: #25272f;
	border-radius: 1.8rem;
}

.trivia-section__body {
	margin: 1rem;
}

.trivia-section__image {
	width: 40rem;
	max-width: 90%;
	height: max-content;
	border-radius: 1rem;
	margin: inherit;
	float: left;
}

.trivia-section__info {
	max-width: 120rem;
	font-size: 2rem;
	padding: 0 2rem;
	margin: inherit;
}

.trivia-section__text-block {
	font-size: inherit;
	color: white;
	text-decoration: none;
}

.trivia-section--ref {
	transition: 0.3s;
	color: slategray;
	font-size: inherit;
	text-decoration: none;
}

.trivia-section--ref:hover {
	transition: 0.3s;
	color: black;
}

.reviews-section {
	background-color: #25272f;
	border-radius: 1.8rem;
	padding: 1rem;
	padding-left: 2rem;
}

.reviews-section__score {
	border-radius: 1.8rem;
	background-color: rgb(54, 73, 129);
	height: 20rem;
	width: 20rem;
	padding: 3rem;
	margin-right: 2rem;
	margin-bottom: 2rem;
	display: flex;
	float: left;
	justify-content: center;
}

.reviews-section__score--text {
	font-size: 12rem;
}

.reviews-section__body {
	font-size: 2rem;
	padding-left: 2rem;
}

.reviews-section__body--ref {
	transition: 0.3s;
	color: slategray;
	font-size: inherit;
	text-decoration: none;
}

.reviews-section__body--ref:hover {
	transition: 0.3s;
	color: black;
}

/* PLOT SCREEN */

.plot-screen {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.plot {
	display: flex;
	flex-direction: column;
}

.plot__body {
	font-size: 3rem;
	padding-bottom: 3rem;
	background-color:#25272f;
	border-radius: 1.8rem;
	padding: 2rem;
	margin-bottom: 3rem;
}

.plot__ref {
	color: slategray;
	font-size: inherit;
	transition: 0.3s;
}

.plot__ref:hover {
	color: black;
	transition: 0.3s;
}

.plot-figure {
	float: right;
	font-size: 3rem;
	padding: 1rem;
}

.plot-figure__image {
	border-radius: 1.8rem;
	width: 50rem;
	max-width: 100%;
}

.plot-figure2 {
	float: left;
}

.plot-figure2__image {
	width: 60rem;
}

.plot-figure3__image {
	width: 70rem;
}

.plot-figure4__image {
	width: 60rem;
}

.plot-figure4 {
	float: left;
}

.plot__unordered-list {
	margin-top: 3.4rem;
	padding-bottom: 0.5rem;
	padding-left: 3.5rem;
	display: flex;
	flex-direction: column;
	font-size: inherit;
}

.plot__unordered-list--item {
	font-size: inherit;
}

/* CAST SCREEN */

.cast-screen {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.cast {
	height: max-content;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.actor-container {
	background-color: #25272f;
	width: 45rem;
	height: 25rem;
	max-width: 100%;
	display:flex;
	padding: 2rem;
	border-radius: 1.8rem;
	transition: 0.3s;
	margin: 1rem;
}

.actor-container:hover {
	padding: 3rem;
	transition: 0.3s;
	filter:brightness(80%);
}

.actor-container__image {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;;
}

.actor-container__text {
	font-size: 2rem;
	padding-left: 2rem;
	width: 100%;
	overflow-x:hidden;
}

.actor-container__header {
	font-size: 3rem;
}

.actor-container__body {
	font-size: inherit;
}

/* REVIEWS SCREEN */

.reviews-screen {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.general-rating {
	background-color:#25272f;
	height: max-content;
	border-radius: 1.8rem;
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.general-rating__score {
	border-radius: 1.8rem;
	min-width: 12rem;
	height: 12rem;
	background-color: rgb(54, 73, 129);
	display: flex;
	justify-content: center;
	padding: 1.8rem 0;
}

.general-rating__score--text {
	font-family: "Topgun";
	font-size: 6rem;
}

.general-rating__info {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.general-rating__header {
	font-size: 5rem;
	margin: auto;
}

.general-rating__description {
	font-size: 3rem;
	font-family: "Catamaran SemiBold";
}

.general-rating__description--out {
	color: slategray;
	font-family: "Catamaran SemiBold";
	transition: 0.3s;
	font-size: 2rem;
}

.general-rating__description--out:hover {
	color: black;
	transition: 0.3s;
}

.reviews {
	height: fit-content;
	width: 100%;
}

.reviews__review {
	height: fit-content;
	background-color: #25272f;
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border-radius: 1.8rem;
	margin-top: 3rem;
}

.reviews__left {
	width: max-content;
	display: flex;
	flex-direction: column;
}

.reviews__score {
	border-radius: 1.8rem;
	width: 6rem;
	height: 6rem;
	background-color: rgb(54, 73, 129);
	display: flex;
	justify-content: center;
	padding: 0.9rem 0;
}

.reviews__score--text {
	font-family: "Topgun";
	font-size: 3rem;
}

.reviews__date {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	font-size: 3rem;
}

.reviews__date--title {
	font-family: "Catamaran Bold";
}

.reviews__date--text {
	font-family: "Catamaran SemiBold";
}

.reviews__mid {
	display: flex;
	flex-direction: column;
	margin-left: 0.9rem;
	font-family: "Catamaran Regular";
	font-size: 2rem;
}

.reviews__source {
	display:flex;
	flex-direction: row;
}

.reviews__source--reviewer {
	font-size: 4rem;
}

.reviews__source--ref-text {
	color: inherit;
	font-size: 2rem;
	text-decoration: none;
}

.reviews__source--out-text {
	color: inherit;
	font-size: 2rem;
	font-family: "Catamaran SemiBold";
	color: slategray;
	width: max-content;
	transition: 0.3s;
}

.reviews__source--out-text:hover {
	color: black;
	transition: 0.3s;
}

/* TRIVIA SCREEN */

.trivia-screen {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.trivia-content__header {
	color: white;
	font-size: 6rem;
    margin: 1rem;
}

.trivia {
	padding: 1% 2%;
}

.trivia__body {
	max-width: 150rem;
	height: auto;
	background-color: hsl(228, 12%, 16%);
	margin-bottom: 3rem;
	padding: 2rem;
	font-size: 3rem;
	color: white;
	border-radius: 1.8rem;
}

.trivia__ref {
	font-size: 3rem;
	text-decoration: underline;
	color: slategray;
} 

.trivia-figures {
	height: auto;
}

.trivia-figure1 {
	float: right;
	width: 60%;
	padding-left: 4rem;
}

.trivia-figure2 {
	float: left;
    width: 40%;
    padding-right: 4rem;
}

.trivia-figure3 {
    float: right;
    width: 40%;
    padding-left: 4rem;
}

.trivia-figures__image {
	width: 100%;
	height: auto;
	border-radius: 1rem;
}

.trivia-figures__figcaption {
	font-size: 2rem;
	color: rgb(196, 189, 189);
    text-align: center;
}

@media screen and (min-width: 1250px) {
	.trivia__body-adjusted {
		min-height: 40rem;
	}
}

.cast-content__container {
	width: 80%;
	min-height: 80vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5rem;
	margin-top: 10rem;
}
.cast-content__container__item {
	margin: auto 0;
	background-color: #25272f;
	min-height: 20rem;
	min-width: 10px;
	border-radius: 2rem;
	display: flex;
}
.cast-content__container__item__pic {
	width: 50%;
}
.cast-content__container__item img {
	width: 100%;
	padding: 5rem;
	border-radius: 50%;
}
.cast-content__container__item__text {
	margin: auto 0;
	font-size: 10rem;
	width: 50%;
	font-family: "catamaran Bold";
	color: white;
	padding-right: 5rem;
}
.cast-content__container__item__text p {
	font-size: 3rem;
	font-family: "catamaran Regular";
}
.cast-popup {
	position: fixed;
	width: 60vw;
	height: max-content;
	margin: 0 3vw;
	max-width: 100%;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 777;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: slategray;
	border-radius: 1.8vh;
	color: white;
	padding: 2vw;
	font-size: 4vh;
	font-family: "catamaran Regular";
	display: none;
}
.cast-container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
}
.cast-container__left {
	width: 50%;
	padding-right: 5vw;
}
.cast-container__right {
	width: 50%;
}

.cast-popup.show {
	display: flex;
	animation: fadeInAndGrow 0.2s ease-in forwards;
}
.cast-popup.hide {
	animation: fadeOut 0.3s ease-in forwards;
}
.cast-popup img {
	width: 10%;
}

.cast-popup__close-btn {
	position: absolute;
	top: 1vw;
	right: 2vw;
	color: aliceblue;
	background-color: transparent;
	border: transparent;
	font-size: 3vw;
	cursor: pointer;
}

/* Animation Styles */
@keyframes fadeInAndGrow {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	50% {
		transform: scale(1);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(0.7);
		opacity: 0;
	}
}

.cast-content__container__item {
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.cast-content__container__item:hover {
	background-color: #66729e;
}
.cast-content__container__item.is-open {
	pointer-events: none;
}

.footer {
	background-color:#25272f;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Catamaran SemiBold";
	overflow: hidden;
}
.container {
	width: 60%;
	max-width: 60rem;
	padding: 1rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: auto;
}
.container2 {
	width: 100%;
	padding-bottom: 1rem;
	flex-direction: column;
}
.container__logos--out {
	color: #ffffff;
	text-decoration: none;
}

.container__item {
	font-size: 2rem;
}

.container__image {
	height: 5rem;
	transition: all 0.3s ease-in-out;
	padding: 0.2rem;
}

.container__image:hover {
	filter: brightness(80%);
	padding: 0;
}

.container__logos {
	width: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media screen and (max-width: 1023px) {

	.cast-content__container {
		grid-template-columns: 1fr;
	}

	.trivia-figures {
		float: none;
        width: 100%;
        padding: 0%;
        margin-bottom: 2rem;
	}
}
.trivia__table {
    border-collapse: collapse;
    margin: 2.5rem auto;
    font-size: 10rem;
	font-family: "catamaran Light";
    max-width: 145rem;
}

.trivia__table thead tr {
    background-color: slategray;
    color: #ffffff;
    text-align: left;
    border-bottom: 0.2rem solid #dddddd;
}
.trivia__table td:first-child {
	background-color: #403c46;
    color: whitesmoke;  
}

.trivia__table th,
.trivia__table td {
    padding: 1.2rem 1.5rem;
}

.trivia__table tbody tr {
    border-bottom: 0.2rem solid #dddddd;
    background-color: #6b5b6d;
    color: whitesmoke;  
}

.trivia__table th + th {
    border-left: 0.2rem solid #dddddd; 
}

.trivia__table td + td {
    border-left: 0.2rem solid #dddddd; 
}

.trivia__table tbody tr:last-child {
    border-bottom: none;
}

@media screen and (min-width: 1600px) {
	.nav-content {
		height: auto;
	}

	.nav-content__hamburger {
		display: none;
	}

	.nav-content__logo-link {
		margin-left: 2rem;
	}

	.nav-content__unordered-list {
		position: relative;
		display: flex;
		margin-left: auto;
		width: fit-content;
		right: auto;
		transition: none;
		height: auto;
		flex-direction: row;
		padding-top: 0;
	}

	.nav-content__item {
		margin: 0 0;
		margin-top: 2rem;
		padding: 0rem 4rem;
	}

	.nav-content__item--ref {
		font-size: 3.5rem;
	}
}
