* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size: 62.5%;
}

@font-face {
	font-family: "catamaran Bold";
	src: url("../resources/fonts/catamaran-font/catamaran-Bold.ttf");
}
@font-face {
	font-family: "catamaran Regular";
	src: url("../resources/fonts/catamaran-font/catamaran-Regular.ttf");
}
@font-face {
	font-family: "catamaran SemiBold";
	src: url("../resources/fonts/catamaran-font/catamaran-SemiBold.ttf");
}

@font-face {
	font-family: "catamaran Light";
	src: url("../resources/fonts/catamaran-font/catamaran-Light.ttf");
}

@font-face {
	font-family: "Topgun";
	src: url("../resources/fonts/topgun.ttf");
}

body {
	background-color: rgb(23, 21, 27);
}

.in-text-reference {
	font-family: "catamaran SemiBold";
	color: rgb(75, 75, 255);
	text-decoration: none;
	font-size: 100%;
}


/* NAVIGATION BAR */
.nav-content {
	display: flex;
	align-items: center;
	background-color: #25272f;
	width: 100%;
	position: sticky;
	justify-content: center;
	z-index: 777;
	top: 0;
	box-shadow: 0 10px 8px rgb(23, 21, 27);
}

.nav-content__hamburger {
	position: absolute;
	display: none;
	cursor: pointer;
	height: 8vh;
	width: 8vh;
	display: block;
	left: -0.5vh;
	top: 1vh;
	z-index: 880;
	margin-right: auto;
	/* margin-top: 0vh; */
	margin-left: 3vh;
}

.nav-content__hamburger--bar {
	display: block;
	width: 50px;
	height: 6px;
	margin: 10px 0;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(3) {
	transform: translateY(-16px) rotate(-45deg);
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(2) {
	opacity: 0;
}

.nav-content__hamburger.active .nav-content__hamburger--bar:nth-child(1) {
	transform: translateY(16px) rotate(45deg);
}

.nav-content__logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	width: fit-content;
	margin: 2vh 0;
}

.nav-content__logo-link--image {
	height: 100%;
	padding: 1%;
}

.nav-content__unordered-list {
	position: fixed;
	right: 200%;
	top: 0;
	flex-direction: column;
	padding-top: 11vh;
	padding-left: 4vh;
	align-items: flex-start;
	background-color: #25272f;
	width: 100%;
	height: 100vh;
	transition: 0.3s;
	z-index: 2;
	list-style-type: none;
}

.nav-content__item {	
	margin: 0.5vh 0;
	z-index: 3;
}
.nav-content__item--ref {
	transition: color 0.3s ease-in-out;
}
.nav-content__item--ref:hover {
	color: slategray;
}

@media screen and (orientation: landscape) {
	.nav-content__unordered-list {
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}

	.nav-content__item {
		margin: 0 2vh;
	}
}

.nav-content__item--ref {
	color: aliceblue;
	font-family: "Topgun";
	letter-spacing: 4px;
	font-size: 9vh;
	height: auto;
	text-decoration: none;
}

.nav-content__unordered-list.active {
	display: flex;
	right: 0;
}

html.active,
body.active {
	height: 100%;
	overflow: hidden;
}

.content {
	margin: auto;
	max-width: 150rem;
	height: fit-content;
	background-color: rgb(23, 21, 27);
	margin-top: 3rem;
	margin-bottom: 3rem;
	color: white;
	font-size: 3rem;
}

.index-scrn {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.content__trailer-background {
	width: 100%;
	height: max-content;
	/* background-color: green; */
	display: grid;
	grid-template-columns: 1fr;
}

.content__trailer-background--logo {
	z-index: 100;
	width: 50%;
	margin-left: 25%;
	margin-top: 10%;
	grid-row-start: 1;
	grid-column-start: 1;
}

.content__trailer-background--video {
	width: 100%;
	filter: brightness(40%);
	z-index: 0;
	grid-row-start: 1;
	grid-column-start: 1;
	border-radius: 1.8rem;
}

.plot-section {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	margin-top: 3rem;
	background-color: #25272f;
	border-radius: 1.8rem;
	height: fit-content;
}

.plot-section__body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.section-header {
	font-size: 6rem;
	margin: 0 auto;
	/* margin-left: 1rem; */
}

.plot-section__poster {
	padding: 1rem;
	width: 20rem;
	max-width: 100%;
	height: 100%;
	border-radius: 1.8rem;
	float: left;
}

.plot-section__info {
	padding: 1rem;
	display: flex;
	max-width: 100%;
	flex-direction: column;
	font-size: 2rem;
	width: 60rem;
}

.plot-section__text-block {
	margin: 0.5rem;
	font-size: inherit;
	text-decoration: none;
	color: white;
}

.plot-section__text-block--ref{
	transition: 0.3s;
	color: slategray;
	font-size: inherit;
	margin: 0.5rem;
	text-decoration: inherit;
}

.plot-section__text-block--ref:hover{
	transition: 0.3s;
	color: black;
}

.plot-section__summary {
	padding: 1rem;
	width: 70rem;
}

.plot-section__summarized-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.summarized-item {
	width: fit-content;
	height: fit-content;
	background-color: rgb(70, 96, 121);
	border-radius: 1.8rem;
	font-size: 2rem;
	padding: 0.8rem;
	margin: 1rem;
}

.summarized-item__header {
	font-size: 4rem;
}

.summarized-item__body {
	font-family: inherit;
	font-size: inherit;
}

.cast-section {
	margin-top: 3rem;
	background-color: #25272f;
	border-radius: 1.8rem;
	padding: 1rem;
	display: flex;
	flex-direction: column;
}

.cast-section__members {
	display: flex;
	flex-direction: row;
	border-radius: 1.8rem;;
	overflow-x: scroll;

	padding-bottom: 1rem;

	/* Firefox scrollbar */
	scrollbar-width: 10px;
	scrollbar-color: #3d3f47 #25272f;
}

/* Chrome, Edge, Safari */
.cast-section__members::-webkit-scrollbar {
	background: #1d1f26;
	height: 12px;
}

.cast-section__members::-webkit-scrollbar-thumb {
	background-color: #3d3f47;
	border-radius: 20px;
}

.actor-preview {
	display: flex;
	flex-direction: column;
	background-color: slategray;
	text-decoration: none;
	color: white;
	border-radius: 1.8rem;
	padding: 1rem;
	width: 25rem;
	transition: 0.3s;
	margin: 0 0.8rem;
}

.actor-preview:hover {
	filter:brightness(80%);
	transition:0.3s;
	padding: 2rem;
}

.actor-preview__image {
	border-radius: 50%;
}

.actor-preview__name-body {
	font-size: 4rem;
}

.actor-preview__role-name-body {
	font-size: 3rem;
}

.trivia-content {
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
}

.trivia-content__header {
	color: white;
	font-size: 6rem;
    margin: 1rem;
}

.trivia-content__text-div {
	background-color: #25272f;
	max-width: 150rem;
	height: auto;
	margin: 0% 5%;
	font-size: 8rem;
	color: white;
	padding: 1% 2%;
}

.trivia-content__text-div__actor-div {
	justify-content: center;
	padding-top: 5rem;
    font-size: 8rem;
}

.trivia-content__text-div__actor-div__text {

}

.trivia-content__text-div__actor-div__figure {
	float: right;
	width: 60%;
	height: auto;
	padding-left: 4rem;
}
.trivia-content__text-div__actor-div__figure__img {
	width: 100%;
	height: auto;
}

.trivia-content__text-div__actor-div__figure__figcaption {
	font-size: 2rem;
	color: rgb(196, 189, 189);
    text-align: center;
}

.trivia-content__text-div__bar-scene-div {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.trivia-content__text-div__bar-scene-div__text {  

}

.trivia-content__text-div__bar-scene-div__figure {
    float: left;
    width: 50%;
    height: auto;
    padding-right: 4rem;
}

.trivia-content__text-div__bar-scene-div__figure__img {
    width: 100%;
}

.trivia-content__text-div__military-div {
    margin-bottom: 3rem;
    font-size: 8rem;
}

.trivia-content__text-div__military-div__text {
    text-align: left;
}

.trivia-content__text-div__aircraft-div {
    font-size: 8rem;
}

.trivia-content__text-div__aircraft-div__text {
    text-align: left;
}

.trivia-content__text-div__aircraft-div__figure {
    float: right;
    width: 50%;
    padding-left: 4rem;
}

.trivia-content__text-div__aircraft-div__figure__img {
    width: 100%;
    height: auto;
}

.trivia-content__text-div ul {
	font-size: 5rem;
	margin-top: 1rem;
	margin-left: 3rem;
}

.cast-content__container {
	width: 80%;
	min-height: 80vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-auto-rows: 1fr; */
	grid-gap: 1.5rem;
	/* background-color: aqua; */
	margin-top: 10rem;
}
.cast-content__container__item {
	margin: auto 0;
	background-color: #25272f;
	min-height: 20rem;
	min-width: 10px;
	border-radius: 2rem;
	display: flex;
}
.cast-content__container__item__pic {
	/* background-color: coral; */
	width: 50%;
}
.cast-content__container__item img {
	width: 100%;
	padding: 5rem;
	/* height: 100%; */
	border-radius: 50%;
}
.cast-content__container__item__text {
	margin: auto 0;
	font-size: 10rem;
	width: 50%;
	font-family: "catamaran Bold";
	color: white;
	padding-right: 5rem;
}
.cast-content__container__item__text p {
	font-size: 3rem;
	font-family: "catamaran Regular";
}
.cast-popup {
	position: fixed;
	max-width: 120rem;
	/* height: 80vh; */
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 777;
	margin: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #7f8f83;
	border-radius: 8vh;
	color: antiquewhite;
	padding: 10rem;
	opacity: 0;
	font-size: 4rem;
	font-family: "catamaran Regular";
	display: none;
}
.cast-popup.show {
	display: flex;
	animation: fadeInAndGrow 0.2s ease-in forwards;
}
.cast-popup.hide {
	animation: fadeOut 0.3s ease-in forwards;
}
.cast-popup img {
	width: 10%;
}

.cast-popup__close-btn {
	position: absolute;
	top: 5rem;
	right: 5rem;
	color: aliceblue;
	background-color: transparent;
	border: transparent;
	font-size: 5rem;
	cursor: pointer;
}

/* Animation Styles */
@keyframes fadeInAndGrow {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}
	50% {
		transform: scale(1);
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	100% {
		transform: scale(0.7);
		opacity: 0;
	}
}

.cast-content__container__item {
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}
.cast-content__container__item:hover {
	background-color: #66729e;
}
.cast-content__container__item.is-open {
	pointer-events: none;
}

.plot-scrn {
	background-color: rgb(23, 21, 27);
	color: white;
	height: max-content;
	width: 100%;
	font-family: "catamaran Light";
}

.plot-scrn__content {
	height: fit-content;
	font-size: 3rem;
	margin: auto;
	width: 90vw;
	background-color: #25272f;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.plot-scrn__content__header1 {
	align-items: center;
	text-align: center;
	font-size: 4rem;
	font-family: "catamaran Bold", sans-serif;
	background-color: rgb(23, 21, 27);
}

.plot-scrn__content__introduction-div {
	align-items: center;
	font-size: 3rem;
	padding: 1%;
}

.plot-scrn__content__introduction-div__img {
	width: 95%;
}

.plot-scrn__content__mission-div {
	font-size: 3rem;
	width: 100%;
	padding: 1%;
}

.plot-scrn__content__mission-div__unordered-list {
	list-style-type: disc;
	padding-left: 5%;
}

.plot-scrn__content__mission-div__unordered-list__item {
	font-size: 2rem;
}

.plot-scrn__content__training-div {
	display: flex;
	font-size: 3rem;
	padding: 1%;
	flex-direction: column;
}

.plot-scrn__content__mission-operation-div {
	font-size: 3rem;
	padding: 1%;
}

.plot-scrn__content__ending-div {
	font-size: 3rem;
	padding: 1%;
}

.reviews-scrn {
	background-color: rgb(23, 21, 27);
	padding: 0 3vw;
}

.general-rating {
	background-color:#25272f;
	height: max-content;
	width: 100%;
	border-radius: 1.8rem;
	padding: 1rem;
	display: flex;
	flex-direction: row;
}

.general-rating__score {
	border-radius: 1.8rem;
	min-width: 12rem;
	height: 12rem;
	background-color: rgb(0, 105, 0);
	display: flex;
	justify-content: center;
	padding: 1.8rem 0;
}

.general-rating__score--text {
	font-family: "Topgun";
	font-size: 6rem;
}

.general-rating__info {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
}

.general-rating__header {
	font-size: 5rem;
	font-family: "Teko Bold";
	margin: auto;
}

.general-rating__description {
	font-size: 3rem;
	font-family: "Catamaran SemiBold";
}

.general-rating__description--out {
	color: slategray;
	font-family: "Catamaran SemiBold";
	transition: 0.3s;
	font-size: 2rem;
}

.general-rating__description--out:hover {
	color: black;
	transition: 0.3s;
}

.reviews {
	height: fit-content;
	width: 100%;
}

.reviews__review {
	width: fit;
	height: fit-content;
	background-color: #25272f;
	margin: auto;
	display: flex;
	flex-direction: row;
	padding: 1rem;
	border-radius: 1.8rem;
	margin-top: 3rem;
}

.reviews__left {
	width: max-content;
	display: flex;
	flex-direction: column;
}

.reviews__score {
	border-radius: 1.8rem;
	width: 6rem;
	height: 6rem;
	background-color: rgb(0, 105, 0);
	display: flex;
	justify-content: center;
	padding: 0.9rem 0;
}

.reviews__score--text {
	font-family: "Topgun";
	font-size: 3rem;
}

.reviews__date {
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	font-size: 3rem;
}

.reviews__date--title {
	font-family: "Catamaran Bold";
}

.reviews__date--text {
	font-family: "Catamaran SemiBold";
}

.reviews__mid {
	display: flex;
	flex-direction: column;
	margin-left: 0.9rem;
	font-family: "Catamaran Regular";
	font-size: 2rem;
}

.reviews__source {
	display:flex;
	flex-direction: row;
}

.reviews__source--reviewer {
	font-size: 4rem;
}

.reviews__source--ref-text {
	color: inherit;
	font-size: 2rem;
	text-decoration: none;
}

.reviews__source--out-text {
	color: inherit;
	font-size: 2rem;
	font-family: "Catamaran SemiBold";
	color: slategray;
	width: max-content;
	transition: 0.3s;
}

.reviews__source--out-text:hover {
	color: black;
	transition: 0.3s;
}



@media screen and (max-width: 1023px) {
	/* h1 {
		align-items: center;
		font-size: 5rem;
		font-family: "catamaran Bold", sans-serif;
	} */

	.plot-scrn__content__unordered-list__item {
		font-size: 4rem;
		font-family: "catamaran Regular", sans-serif;
	}

	/* .index-content__plot-section {
		height: auto;
		background-color: #25272f;
		padding-bottom: 10vh;
	}
	.index-content__poster-div {
		height: auto;
		width: 90%;
	}
	.index-content__poster-div__img {
		content: url("/resources/poster-mobile.png");
		width: 100%;
		margin: 5%;
	}
	.index-content__plot-information-div__text {
		height: auto;
		width: auto;
		margin: 5%;
	}
	.index-content__plot-information-div__text p,
	h2 {
		color: white;
	}
	.index-content__plot-information-div__text h2 {
		font-size: 4rem;
	}
	.index-content__plot-information-div__text p,
	p a {
		font-size: 2rem;
	}
	.index-content__general-information-div__text {
		display: flex;
		width: auto;
		height: auto;
		margin-top: 3rem;
	}
	.index-content__general-information-div__text h2 {
		font-size: 3rem;
	}
	.index-content__general-information-div__text p {
		color: white;
		font-size: 2rem;
	}
	.index-content__general-information-box__text {
		margin-left: 2rem;
		margin-right: 2rem;
	} */
	.cast-content__container {
		grid-template-columns: 1fr;
	}

	.trivia-content__text-div__actor-div__text {
		width: 100%;
		height: auto;
	}
	.trivia-content__text-div__actor-div__figure {
		float: none;
        width: 100%;
        padding-left: 0%;
        margin-top: 2rem;
	}

    .trivia-content__text-div__bar-scene-div__figure {
        float: none;
        width: 100%;
        padding-right: 0%;
        margin-top: 2rem;
    }

    .trivia-content__text-div__aircraft-div__figure {
        float: none;
        width: 100%;
        padding-left: 0%;
        margin-top: 2rem;
    }
}
.styled-table {
    border-collapse: collapse;
    margin: 2.5rem auto;
    font-size: 10rem;
	font-family: "catamaran Light";
    min-width: 90rem;
}

.tableding {
	/* width: 80vw; */
	max-width: 150rem;
	background-color: hsl(228, 12%, 16%);
	margin: 5rem auto;
	padding: 5rem 0;
}

.styled-table thead tr {
    background-color: #454aad;
    color: #ffffff;
    text-align: left;
    border-bottom: 0.2rem solid #dddddd;
}
.styled-table td:first-child {
	background-color: #403c46;
    color: whitesmoke;  
}

.styled-table th,
.styled-table td {
    padding: 1.2rem 1.5rem;
}

.styled-table tbody tr {
    border-bottom: 0.2rem solid #dddddd;
    background-color: #6b5b6d;
    color: whitesmoke;  
}

.styled-table th + th {
    border-left: 0.2rem solid #dddddd; 
}

.styled-table td + td {
    border-left: 0.2rem solid #dddddd; 
}

.styled-table tbody tr:last-child {
    border-bottom: none;
}

@media screen and (min-width: 1600px) {
	.nav-content {
		height: auto;
	}

	.nav-content__hamburger {
		display: none;
	}

	.nav-content__logo-link {
		margin-left: 2rem;
	}

	.nav-content__unordered-list {
		position: relative;
		display: flex;
		margin-left: auto;
		width: fit-content;
		right: auto;
		transition: none;
		height: auto;
		flex-direction: row;
		padding-top: 0;
	}

	.nav-content__item {
		margin: 0 0;
		margin-top: 2rem;
		padding: 0rem 4rem;
	}

	.nav-content__item--ref {
		font-size: 3.5rem;
	}

	.plot-scrn__content {
		max-width: 150rem;
		font-size: 6rem;
	}

	.plot-scrn__content__header1 {
		font-size: 6rem;
	}

	.plot-scrn__content__introduction-div {
		display: flex;
		font-size: 5rem;
	}

	.plot-scrn__content__introduction-div__padded-text {
		padding-right: 1%;
	}

	.plot-scrn__content__introduction-div__img {
		width: 40rem;
	}

	.plot-scrn__content__mission-div {
		font-size: 5rem;
	}

	.plot-scrn__content__mission-div__unordered-list {
		padding-left: 2%;
	}

	.plot-scrn__content__mission-div__unordered-list__item {
		font-size: 3rem;
	}

	.plot-scrn__content__training-div {
		font-size: 5rem;
	}

	.plot-scrn__content__mission-operation-div {
		font-size: 5rem;
	}

	.plot-scrn__content__ending-div {
		font-size: 5rem;
	}
}
