* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
@font-face {
    font-family: "Teko Bold";
    src: url("../Resources/Fonts/Teko Font/Teko-Bold.ttf");
}
h1 {
    font-size: 10rem;
    font-family: "Teko Bold", sans-serif;
}
a {
    color: aliceblue;
    font-family: "Teko Bold", sans-serif;
    font-weight: 900;
    font-size: 4rem;
    text-decoration: none;
}
nav {
    justify-content: center;
    display: flex;
    background-color: rgb(0, 0, 0);
    z-index: 777;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}

#nav_spacer {
    width: 15%;
    background-color:  blue; 
}

nav ul {
    background-color:rgb(199, 24, 24);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 20%;
    text-decoration: none;
    list-style-type: none;

}

#vidsection {
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 50vw;
    position: absolute;
    top: 15vw;
    left: 50vh;
    z-index: 50;
}
#video {
    width: 100vw;
    filter: brightness(40%);
    z-index: 0;
}
.blankDiv {
    width: 100vw;
    height: 106vh;
}

#huts {
    min-height: 15vh;
    position: relative;
    background-color: rgb(23, 21, 27);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(199, 24, 24);
}
#huts a {
    color: rgb(199, 24, 24);
    
}