@media screen and (max-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 62.5%;
    }
    section, nav, footer {
        padding: 0rem 5rem;
     }
    @font-face {
        font-family: "Teko Bold";
        src: url("../Resources/Fonts/Teko Font/Teko-Bold.ttf");
    }
    @font-face {
        font-family: "Teko Regular";
        src: url("../Resources/Fonts/Teko Font/Teko-Regular.ttf");
    }
    #huts a {
        color: rgb(17, 0, 255);      
    }
    #logo {
        display: none;
    }
    nav {
        background-color: #25272f;
        display: flex;
        z-index: 777;
        position: sticky;
        width: 100vw;
        height: 10vh;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
    }
    #menu_icon {
        height: 50%;
        position: absolute;
        left: 0;
        margin-left: 5rem;
    }
    #nav_logo_link {
        height: 70%;
    }
    #nav_logo {
        height: 100%;
    }

    nav ul {
        display: none;
    }

    #nav_spacer {
        display: none;
    }
    #vidsection {
        display: none;
    }
    #huts {
        display: none;
    }

    h1 {
        align-items: center;
        font-size: 5rem;
        font-family: "Teko Bold", sans-serif;
    }

    .plot-content {
        height: fit-content;
        background-color: slategrey;
    }
    
    .plot-content__header1 {
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-family: "Teko Bold", sans-serif;
    }

    .plot-content__introduction-div {
        /* display: grid; */
        /* grid-template-columns: 1fr 1fr; */
        align-items: center;
        font-size: 4rem;
        font-family: "Teko Regular", sans-serif;
    }

    .plot-content__introduction-div__img {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 62.5%;
    }
    section, nav, footer {
        padding: 0rem 10rem;
    }

    @font-face {
        font-family: "Teko Bold";
        src: url("../Resources/Fonts/Teko Font/Teko-Bold.ttf");
    }
    @font-face {
        font-family: "Teko Regular";
        src: url("../Resources/Fonts/Teko Font/Teko-Regular.ttf");
    }

    h1 {
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-family: "Teko Bold", sans-serif;
    }

    .plot-content {
        height: fit-content;
        background-color: slategrey;
        font-family: "Teko Regular";
        font-size: 5rem;
        padding-left: 1%;
    }

    .plot-content__header1 {
        align-items: center;
        text-align: center;
        font-size: 6rem;
        font-family: "Teko Bold", sans-serif;
    }

    .plot-content__introduction-div {
        align-items: center;
        display: grid;
        grid-template-columns: 2fr 1fr;
        font-size: 5rem;
        font-family: "Teko Regular", sans-serif;
        /* background-color: cornflowerblue; */
        height: fit-content;
        width: 100vw;
    }

    .plot-content__introduction-div__text {
        padding-right: 3%;
    }

    .plot-content__introduction-div__img {
        width: 100%;
        height: auto;
    }

    .plot-content__unordered-list {
        list-style-type: disc;
        padding-left: 2%;
    }

    .plot-content__unordered-list__item {
        font-size: 3rem;
    }

    a {
        color: aliceblue;
        font-family: "Teko Bold", sans-serif;
        font-weight: 900;
        font-size: 4rem;
        text-decoration: none;
    }
    nav {
        justify-content: center;
        display: flex;
        background-color: rgb(0, 0, 0);
        z-index: 777;
        position: sticky;
        width: 100%;
        top: 0;
        left: 0;
    }
    
    nav img {
        display: none;
    }

    #nav_spacer {
        width: 15%;
        /* background-color:  blue;  */
    }

    nav ul {
        /* background-color:rgb(199, 24, 24); */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        width: 20%;
        text-decoration: none;
        list-style-type: none;
    }

    #vidsection {
        position: absolute;
        top: 0;
        left: 0;
    }

    #logo {
        width: 50vw;
        position: absolute;
        top: 15vw;
        left: 50vh;
        z-index: 50;
    }
    #video {
        width: 100vw;
        filter: brightness(40%);
        z-index: 0;
    }
    .blankDiv {
        width: 100vw;
        height: 106vh;
    }

    #huts {
        min-height: 15vh;
        position: relative;
        background-color: rgb(23, 21, 27);
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(199, 24, 24);
    }

    #huts a {
        color: rgb(199, 24, 24);
        
    }
}