* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
@font-face {
    font-family: "Compacta";
    src: url("../Resources/Fonts/unicode.compacta.ttf");
}
h1 {
    font-size: 10rem;
    font-family: "Compacta", sans-serif;
}
a {
    color: aliceblue;
    font-family: "Compacta", sans-serif;
    font-weight: 800;
    font-size: 3rem;
    text-decoration: none;
}
nav {
    background-color: rgb(0, 0, 0);
    z-index: 777;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    text-decoration: none;
}

#vidsection {
    position: absolute;
    top: 0;
    left: 0;
}

#logo {
    width: 50vw;
    position: absolute;
    top: 15vw;
    left: 50vh;
    z-index: 50;
}
#video {
    width: 100vw;
    filter: brightness(40%);
    z-index: 0;
}
.blankDiv {
    width: 100vw;
    height: 106vh;
}

#huts {
    height: 15vh;
    position: relative;
    background-color: rgb(23, 21, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}